@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #0eb582;
}

.center {
    text-align: center;
}

a {
    all: unset;
}

.fs-2 {
    font-size: 2rem;
}

marquee {
    color: red;
}

.f-right {
    float: right !important;
    margin-left: 2rem !important;
}

/* animation zoom start */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

/* animation zoom  end*/

/* header start */
.header {
    position: -webkit-fixed;
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

.header .logo {
    font-size: 1.5rem;
    color: #444;
    font-weight: bolder;
}

/* header end */

/* maqola section  start*/

.maqola_section {
    padding: 1rem 10%;
}

.maqola {
    width: 100%;
    padding: 1rem 0;
}

.title h1 {
    color: #4cc0a5;
    margin-bottom: 1rem;
}

.maqola_img {
    width: 50%;
    float: left;
    overflow: hidden !important;
    margin-right: 2rem;
}

.maqola_img img {
    width: 100%;
}

.maqola_img:hover img {
    transform: scale(1.1);
}
.description p {
    letter-spacing: 0.1rem;
    text-indent: 1.5rem;
    padding-top: 0.5rem;
}

.description img {
    float: right;
    width: 50%;
}
.description ul {
    padding-left: 3rem;
}
/* maqola section  end*/

/* footer start */
footer {
    background-color: #fff;
    margin: 0 1rem;
}

.messengerss {
    height: 100%;
    padding: 1rem 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.messengerss .line {
    width: 25%;
    height: 2px;
    background-color: #0eb582;
}

.messengers {
    width: 50%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

.messenger {
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 3px 3px 5px 0 rgb(197, 185, 185);
}

.messenger i {
    transform: scale(1.3);
    cursor: pointer;
}
.messenger:hover i {
    transform: scale(2);
}
.fa-facebook {
    color: rgb(18, 18, 99);
    margin: 0 3px;
}
.fa-twitter {
    color: rgb(76, 76, 197);
}
.fa-instagram {
    color: rgb(184, 50, 72);
    margin: 0 1px;
}
.fa-youtube {
    color: red;
}
.fa-telegram {
    color: rgb(18, 18, 99);
}

footer .logo {
    margin-bottom: 2rem;
}

.play_market {
    display: none;
}
/* footer end */

/* mediia queries srart */
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .play_market {
        display: inline-block;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 60%;
    }
    .maqola_img {
        width: 80%;
        float: none;
    }
    .maqola_img:hover img {
        transform: none;
    }
    .description img {
        float: none;
        width: 80%;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
/* mediia queries end */
